//@import "tailwindcss/base";
//@import "tailwindcss/components";
//@import "tailwindcss/utilities";
@import 'buttons';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: large;
  background-color: #202020;

  body {
    #__layout {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    // background-color: darkslategray;
    line-height: 1.7em;
    font-size: 13px;

    h1 {
      text-transform: capitalize;
    }
  }
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #3a3a3a;

  h1.full-name {
    color: magenta;
    font-family: monaco, Consolas, Lucida Console, monospace;
    font-weight: bold;
  }

  * {
    color: white;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4c4c4f;
  text-align: center;
}

#skill-list {
  list-style: none;

  & li {
    display: inline;
  }

  & li:after {
    content: ', ';
  }

  & li:last-child:after {
    content: '';
  }
}