<div class="uk-flex uk-flex-center">
  <div id="linkedin_link" class="uk-card uk-card-body">
    <a [href]="linkedin_data.url">
      <img height="15" width="auto"
           class="uk-responsive-height"
           src="assets/linked-in/In-2C-128px-TM.png" alt="LinkedIn"></a>
  </div>
  <div id="github_link" class="uk-card uk-card-body uk-margin-left">
    <a [href]="github_data.url">
      <img class="uk-responsive-height"
           src="assets/github/GitHub-Mark-120px-plus.png"
           alt="Github"></a>
  </div>
</div>
