<!--<div class="uk-card uk-card-body" style="background: none;" id="links-desktop-view">-->
  <!--<div class="uk-grid-match uk-child-width-1-3 uk-text-center" uk-grid>-->
    <!--<div *ngIf="linked_in_data.active" id="linkedin_link" class="">-->
      <!--<a [href]="linked_in_data.url" class=" uk-margin-remove">-->
        <!--<img class="uk-align-center"-->
             <!--src="assets/linked-in/In-2C-128px-TM.png"-->
             <!--alt="LinkedIn"></a>-->
    <!--</div>-->
    <!--<div *ngIf="github_data.active" id="github_link">-->
      <!--<a [href]="github_data.url">-->
        <!--<img class="uk-align-center"-->
             <!--src="assets/github/GitHub-Mark-Light-120px-plus.png"-->
             <!--alt="Github"></a>-->
    <!--</div>-->
    <!--<div *ngIf="discord_data.active" id="discord_link">-->
      <!--<a [href]="discord_data.url" class="uk-margin-right">-->
        <!--<img class="uk-align-center uk-margin-right"-->
             <!--src="assets/discord/Discord-Logo-White.png"-->
             <!--alt="Discord"></a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--id="links-mobile-view"-->
<div class="uk-card uk-card-body" style="background: none;">
  <div class="uk-grid-collapse uk-child-width-1-3 uk-text-center" uk-grid>
    <div *ngIf="linked_in_data.active" id="linked_in_link">
      <a [href]="linked_in_data.url" class="uk-align-left">
        <img class="uk-align-center"
             src="assets/linked-in/In-2C-128px-TM.png"
             alt="LinkedIn"></a>
    </div>
    <div *ngIf="github_data.active" id="github_link">
      <a [href]="github_data.url" class="uk-align-center">
        <img class="uk-align-center"
             src="assets/github/GitHub-Mark-Light-120px-plus.png"
             alt="Github"></a>
    </div>
    <div *ngIf="discord_data.active" id="discord_link">
      <a [href]="discord_data.url" class="uk-align-right">
        <img class="uk-align-center"
             src="assets/discord/Discord-Logo-White.png"
             alt="Discord"></a>
    </div>
  </div>
</div>
