<!--<div class="uk-flex uk-flex-center uk-width-1-1@s">-->
<div class=" uk-grid-match uk-child-width-1-3 uk-text-center" uk-grid>
  <div *ngIf="linkedin_data.active" id="linkedin_link" class="uk-margin-remove-left">
    <a [href]="linkedin_data.url">
      <img class="uk-align-center"
           src="assets/linked-in/In-2C-128px-TM.png"
           alt="LinkedIn"></a>
  </div>
  <div *ngIf="github_data.active" id="github_link">
    <a [href]="github_data.url">
      <img class="uk-align-center"
           src="assets/github/GitHub-Mark-Light-120px-plus.png"
           alt="Github"></a>
  </div>
  <div *ngIf="discord_data.active" id="discord_link">
    <a [href]="discord_data.url">
      <img class="uk-align-center uk-margin-small-right"
           src="assets/discord/Discord-Logo-White.png"
           alt="Discord"></a>
  </div>
</div>
