<div class="uk-card">
  <form
    name="contact"
    method="POST"
    data-netlify-recaptcha="true"
    data-netlify="true"
    class="uk-padding-small"
  >
    <fieldset class="uk-fieldset">
      <div class="uk-margin">
        <legend class="uk-legend">Interested in Contacting me?</legend>
      </div>
      <input type="hidden" name="form-name" value="contact-requests" />
      <div class="uk-margin">
        <p>
          <label>Name: <input type="text" class="uk-input" name="name"/></label>
        </p>
      </div>
      <div class="uk-margin">
        <p>
          <label
            >Email: <input type="email" class="uk-input" name="emailAddress"
          /></label>
        </p>
      </div>
      <div class="uk-margin">
        <p>
          <label
            >Message: <textarea class="uk-textarea" name="message"></textarea
          ></label>
        </p>
      </div>
      <div data-netlify-recaptcha="true"></div>
      <div class="uk-margin">
        <p class="uk-float-right">
          <button class="uk-button uk-button-primary" type="submit">
            Send
          </button>
        </p>
      </div>
    </fieldset>
  </form>
</div>
