/*---- reset ---- */
body {
  margin: 0;
}

canvas {
  display: block;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  /*background-image: url("");*/
  background: #222629 no-repeat 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
}

.js-count-particles {
  display: none;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
  display: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
  display: none;
}
