<div class="uk-card uk-card-default uk-margin uk-responsive-height">
  <div class="uk-flex uk-flex-column">
    <span
      uk-spinner="ratio: 4.5"
      class="uk-align-center uk-margin-top"
      [hidden]="!showProfileImgLoading"
    ></span>
    <div class="profile-pic" id="profile_img" [hidden]="showProfileImgLoading">
      <img
        class="uk-responsive-width uk-responsive-height"
        [src]="profileData.profile_pic_url"
        alt="Profile Picture"
        (load)="showProfileImgLoading = false"
      />
    </div>
    <div id="name_tag_line">
      <h2
        class="uk-margin-small-left uk-margin-small-top"
        style="color: white;"
      >
        <strong>{{ name }}</strong>
      </h2>
      <h4 class="uk-text-capitalize uk-margin-small-left uk-margin-remove-top">
        {{ profileData.tag_line }}
      </h4>
      <h3 class="uk-margin-small-left">Brief skill set:</h3>
      <p
        class="uk-panel uk-panel-box uk-text-break uk-margin-small-left uk-margin-right"
      >
        {{ profileData.skills.join(', ') }}
      </p>
      <div *ngIf="profileData.actively_looking" id="actively_looking">
        <h3 class="uk-margin-small-left">Looking for position like:</h3>
        <p
          class="uk-panel uk-panel-box uk-text-break uk-margin-small-left uk-margin-small-right"
        >
          {{ profileData.looking_for.join(', ') }}
        </p>
      </div>
    </div>
  </div>
</div>
