/*@media only screen and (max-width: 479px) {*/
  /*!*#links-desktop-view {*!*/
    /*!*display: none !important;*!*/
  /*!*}*!*/
  /*img {*/
    /*width: auto;*/
    /*height: auto;*/
    /*!*position:absolute;*!*/
    /*!*overflow: visible;*!*/
  /*}*/
/*}*/

@media only screen and (min-width: 480px) {
  .profile-pic {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
  img {
    height: auto;
    width: 100%;
    /*position:absolute;*/
    /*overflow: hidden;*/
    /*object-fit: fill;*/
  }
}
